@media all and (min-width: 1200px) {
    {
        width: 100%;
    }
}
@media all and (min-width: 992px) and (max-width: 1200px) {
    {
        width: 66%;
    }
}
@media all and (max-width: 992px) 
{
    {
        width: 33%;
    }
}